services:
  services-backup:
    depends_on:
      - ftp
      - mysql
      - postgres
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    volumes:
      - ./public.asc:/app/public.asc
      - ./private.asc:/app/private.asc
      - ./src:/app/src
      - ./tsconfig.json:/app/tsconfig.json
      - ./docker/volumes/tmp:/app/tmp
      - ./docker/volumes/backups:/app/backups
  ftp:
    image: stilliard/pure-ftpd
    container_name: pureftp_server
    restart: always
    ports:
      - "21:21"
      - "30000-30009:30000-30009"
    environment:
      - PUBLICHOST=0.0.0.0
      - FTP_USER_NAME=myuser
      - FTP_USER_PASS=mypassword
      - FTP_USER_HOME=/home/myuser
      - PASSIVE_PORTS=30000:30009
    volumes:
      - ./docker/volumes/ftp_data:/home/myuser
  mysql:
    image: mysql:8.0-bookworm
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=mydatabase
      - MYSQL_USER=myuser
      - MYSQL_PASSWORD=mypassword
    volumes:
      - ./docker/volumes/mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
  postgres:
    image: postgres:16-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=mydatabase
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
    volumes:
      - ./docker/volumes/postgres_data:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql