name: CD - Publish Docker Image on GitHub Registry

on:
  release:
    types: [published]
  push:
    branches: [develop]

jobs:
  push-image:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set lowercase repository owner
        run: |
          echo "REPOSITORY_OWNER_LOWERCASE=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Set image tag for release
        if: github.event_name == 'release'
        run: |
          echo "IMAGE_TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: Set image tag for develop push
        if: github.event_name == 'push' && github.ref == 'refs/heads/develop'
        run: |
          echo "IMAGE_TAG=develop" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug

      - name: Log in to Docker registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ env.REPOSITORY_OWNER_LOWERCASE }}/services-backup:latest
            ghcr.io/${{ env.REPOSITORY_OWNER_LOWERCASE }}/services-backup:${{ env.IMAGE_TAG }}